@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F4F5;
    width: 375px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.articleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    padding: 12px;
    background-color: #fff;
    margin: 0 15px 0 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
    width: 75%;
}

.articleImg {
    width: 342px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}

.article {
    list-style: none;
    position: relative;
    top: -25px;
}

.articleTitle{
    font-weight: bold;
    text-align: center;
}

.articleDescription {
    margin-top: 10px;
    margin-bottom: 10px;
}

.articleURLli {
    width: auto;
    height: auto;
}

.articleURL{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}